html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
    #outline: none !important;
}

body {
width:95%;
margin-left: auto;
margin-right: auto;
}
div.display{
    position:absolute;
    margin-top: 52px;
    left:0;
    right:0;
    display: none;
}

/*CALLOUT FORM*/
div.callout_form{
    -webkit-box-shadow: 1px 1px 5px 1px rgba(11, 22, 67, 0.75);
	-moz-box-shadow: 1px 1px 5px 1px rgba(11, 22, 67, 0.75);
	box-shadow: 1px 1px 5px 1px rgba(11, 22, 67, 0.75);
	margin-top: -50px;
	#margin-right: auto;
	#margin-bottom: 30px;
	#margin-left: auto;
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border: 15px solid rgba(6, 14, 49, 0.79);
    padding:20px;
    width:250px;
    font-family:Helvetica;
    font-weight:100;
    font-size:10px;
    top:90;
    right:20;
    position:absolute;
    text-transform:uppercase;
    letter-spacing:1px;
    background-color:#dfe1e8;
    display:none;
    z-index:100;
}
div.callout_form #textbox{
    width:100%;
    color:#063953;
    font-size:10px;
    font-weight:100;
    letter-spacing:0.5px;
    margin-bottom:5px;
}
div.callout_form #dropdownlist{
    width:100%;
    #-webkit-appearance:none;
    #-moz-appearance:none; 
}
div.callout_form #button{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    padding:5px;
    margin-top:10px;
    height:30px;
    background-color: rgba(6, 14, 49, 0.79);
    -webkit-appearance:none;
    -moz-appearance:none;
    -webkit-border:none;
    -moz-border:none;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    -webkit-box-shadow:1px 1px 3px 1px;
    font-family:helvetica;
    font-size:10px;
    font-weight:100;
    text-transform:uppercase;
    letter-spacing:1px;  
    color:white;
    
}
div.callout_form #button:hover{
    background-color: rgb(52, 97, 170);
}
div.callout {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-bottom: 35px solid rgba(6, 14, 49, 0.79);
    position:absolute;
    top:-50px;
    left:125px;
}

/*MENU*/
div.menu{
    width:100%;
    height:40px;
    color:white;
    position:relative;
    border-bottom: 10px solid #21294b;
}
div.menu #button_menu{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius: 15 15 2 2;
    -moz-border-radius: 15 15 2 2;
    border-radius: 15 15 2 2;
    height: 30px;
    width:auto;
    min-width: 75px;
    margin-top: 10px;
    float:left;
    text-align:center;
    text-transform:uppercase;
    font-family:helvetica;
    font-weight:100;
    letter-spacing:1px;
    color:white;
    background-color:#21294b;
    border:1 solid black;
    
}
div.menu #button_menu:hover{
    background-color: #3461aa;
}
div.menu #button_menu:focus{
    outline: 0;
    background-color:#3461aa;
}
div.menu #button_login{
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    -webkit-border-radius: 15 15 2 2;
    -moz-border-radius: 15 15 2 2;
    border-radius: 15 15 2 2;
    height: 30px;
    width:auto;
    min-width: 75px;
    margin-top: 10px;
    float:right;
    text-align:center;
    text-transform:uppercase;
    font-family:helvetica;
    font-weight:100;
    letter-spacing:1px;
    color:white;
    background-color:#21294b;
    border:1 solid black;
    z-index: 100;
}
div.menu #button_login:hover{
    background-color: rgb(52, 97, 170);
}
div.menu #button_login:focus{
    outline: 0;
    background-color:#3461aa;
}
div.menu #user_logged{
    color: black;
    display: block;
    position: absolute;
    max-width: 300;
    max-height: 17;
    bottom: 0;
    right: 0;
    border: 0 solid transparent;
    font-family: helvetica;
    font-weight: 400;
    letter-spacing: 0.1;
    font-size: 13;
    z-index: -1;
}
/*GENERIC TAGS*/
table.grid {
	box-shadow: 0 0 6px #c7c9ce;
	margin-right: auto;
	margin-left: auto;
    overflow-y: scroll;
    max-height: 600px;
    display: block;
    width: 100%;
    font-size: 11px;
}
th.grid {
	background-color: #21294b;
	font-family: helvetica;
    font-size: 11px;
    font-weight:400;
	color: #efefef;
    padding: 6px 10px 6px 10px;
}
td.grid_oddrow {
	background-color: #dee5f4;
	font-family: helvetica;
    font-size: 10;
    font-weight: 100;
	color: #383838;
	padding-right: 5px;
    text-indent: 6px;
}
td.grid_evenrow {
	font-family: helvetica;
    font-size: 10;
    font-weight: 100;
	color: #383838;
	padding-right: 5px;
    text-indent: 6px;
}

a {
	font: 12px "Avenir Next Condensed";
	color: #7382f9;
}
a:hover {
	font: 12px "Avenir Next Condensed";
	color: #061edc;
}
a:visited {
	font: 12px "Avenir Next Condensed";
	color: #05a7bd;		
}

a.add {
    -webkit-appearance:none;
    -moz-appearance:none;
    appearance:none;
    font-family: helvetica;
    font-size: 23px;
    color: white;
    text-decoration: none;
}
a.add:hover{
    color: #69c7e3;
}

h1 {
	color: #E75621;
	/*color: #FF581A;*/
	font-family: Verdana, sans-serif;
	font-size: 11px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: bold;
}
h2 {
	font-family: 'Times New Roman', times-roman, georgia, serif;
	color: #5C5B5E;
	margin: 0;
	font-size: 35px;
	line-height: 35px;
	letter-spacing: -2px;
	font-weight: bold;
}
h3 {
	color: #706D6D;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
}
h4 {
	color: #444;
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	font-size: 12px;
	text-align: justify;
	font-weight: bold;
}

dl {
	color: #706D6D;
	font-family: Verdana, sans-serif;
	font-size: 10px;
	line-height: 14px;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: normal;
}
dd {
	color: #916D6D;
	font-family: 'lucida sans unicode', 'lucida grande', sans-serif;
	font-size: 12px;
	text-align: justify;
	font-weight: none;
	text-transform: none;
	letter-spacing: 0px;
}
ol {
	font-family: 'times new roman', times, serif;
	color: #916D6D;
	font-size: 13px;
	font-style: italic;
	letter-spacing: 0.6pt;
	word-spacing: -1.2pt;
}
ul {
	font-family: 'times new roman', times, serif;
	color: #916D6D;
	font-size: 13px;
	font-style: italic;
	letter-spacing: 0.6pt;
	word-spacing: -1.2pt;
}